<body>
    <div class="bs-example">
        <div class="card" style="max-width: 1600px; ">
            <div class="row no-gutters">
                <div class="col-sm-5" style="background: #868e96;min-height: 550px;">
                    <img src="https://t4.ftcdn.net/jpg/02/25/32/51/360_F_225325173_p0ENO2Us00TqLmPpMjBW8DnLvprCFvBu.jpg"
                        alt="Card image" class="card-img-top h-100" alt="...">
                </div>
                <div class="col-sm-7">
                    <div class="card-body">
                        <h5 class="card-title ">About Us</h5>
                        <p class="card-text">Welcome to Shopaholics, this website is created for demonstrating the
                            online shopping website this website is created by team of five people who are part of JEE
                            Full Stack Development with Angular team. The major motive behind this website is
                            to provide the best customer experience for shopping.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>