<div class="team-boxed">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Our Team</h2>
            <h3 class="text-center">JEE Full Stack with Angular 2.0</h3>
        </div>
        <div class="row people">
            <div class="col-md-6 col-lg-4 item">
                <div class="box" style="border-radius: 20px"><img class="rounded-circle" src="assets/teju.jpg">
                    <h3 class="name">Tejaswini N</h3>
                    <p class="title">Analyst/Software Engineer</p>
                    <p class="description">Electronics and Instrumentation Engineer, Banglore.</p>
                    <h6>tejaswini.a.n@capgemini.com</h6>
                    <h6>+91 99011 73283</h6>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box" style="border-radius: 20px"><img class="rounded-circle" src="assets/shashi.jpeg">
                    <h3 class="name">Shashikiran Ghebad</h3>
                    <p class="title">Analyst/Software Engineer</p>
                    <p class="description">Electrical (Electronics & Power) Engineer, Amravati.</p>
                    <h6>shashi.ghebad@capgemini.com</h6>
                    <h6>+91 77190 71081</h6>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box" style="border-radius: 20px"><img class="rounded-circle" src="assets/sangram.jpeg">
                    <h3 class="name">Sangram Patil</h3>
                    <p class="title">Analyst/Software Engineer</p>
                    <p class="description">Electronics and Telecommunication Engineer, Mumbai.</p>
                    <h6>sangram.a.patil@capgemini.com</h6>
                    <h6>+91 80821 71684</h6>
                </div>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <div class="col-md-6 col-lg-4 item">
                <div class="box" style="border-radius: 20px"><img class="rounded-circle" src="assets/ramesh.jpg">
                    <h3 class="name">Ramesh Korpuri</h3>
                    <p class="title">Analyst/Software Engineer</p>
                    <p class="description">Computer Science Engineer, Hyderabad</p>
                    <h6>ramesh.korpuri@capgemini.com</h6>
                    <h6>+91 80963 42701</h6>
                </div>
            </div><br>
            <div class="col-md-6 col-lg-4 item">
                <div class="box" style="border-radius: 20px"><img class="rounded-circle" src="assets/laxmi.jpg">
                    <h3 class="name">Laxmi Janhvi</h3>
                    <p class="title">Analyst/Software Engineer</p>
                    <p class="description">Computer Science Engineer, Hyderabad</p>
                    <h6>lakshmi@capgemini.com</h6>
                    <h6>+91 70952 71626</h6>
                </div>
            </div>
        </div>
    </div>